fastapi
uvicorn
python-dotenv
sqlalchemy
pymysql
mysql-connector-python
python-jose
python-multipart
boto3==1.34.0
Pillow
pydantic
numpy==1.26.4
email-validator
opencv-python==4.8.1.78
passlib==1.7.4
bcrypt==4.0.1
tensorflow==2.17.1